<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Social</h4>
          <div class="footer-widget-list">
            <ul>
              <li>
                <a href="{{ .Site.Params.social.github }}"><i class="ti-github"></i> Github</a>
              </li>
              <li>
                <a href="{{ .Site.Params.social.mastodon }}"><i class="ti-link"></i> Mastodon</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Sitemap</h4>
          <div class="footer-widget-list">
            <ul>
              {{ $sitemap := .Site.Menus.sitemap }}
                {{ range $sitemap }}
                  <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Address</h4>
          {{ $address := .Site.Params.address }}
          <div class="footer-widget-list">
            <ul>
              <li><a href="tel:{{ $address.phone }}"><i class="ti-mobile"></i>{{ $address.phone }}</a></li> 
              <li><a href="mailto:{{ $address.email }}"><i class="ti-email"></i>{{ $address.email }}</a></li>
              <li><p><i class="ti-pin"></i>{{ $address.address }}</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ $style := resources.Get "scss/non-critical.scss" | resources.ToCSS | minify }}
<link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
<!-- {{ $formhandler := resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script> -->
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
